<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></header>

<body>
<nav th:replace="layouts :: navbar"></nav>

	<div class="container">
	<br/>
	<a class="btn btn-primary" th:href="@{/employees/new}" role="button">Add new employee</a>
	<h2> List of Employees</h2>
		<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
  </tr>
  <tr th:each="anEmploy: ${employeesList}">
    <td th:text="${anEmploy.firstName}"></td>
    <td th:text="${anEmploy.lastName}"></td>
    <td th:text="${anEmploy.email}"></td>
  </tr>
</table>
	</div>
	
</body>

</html>