<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></header>

<body>
<nav th:replace="layouts :: navbar"></nav>

	<div class="container">
	<br/>
	<a class="btn btn-primary" th:href="@{/employees/new}" role="button">Add new employee</a>
	<h2> List of Employees</h2>
<table class="table table-borded table-striped">
<thead class="thead-dark"> 
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Action</th>
    
  </tr>
</thead>
<tbody
  <tr th:each="anEmploy: ${employeesList}">
    <td th:text="${anEmploy.firstName}"></td>
    <td th:text="${anEmploy.lastName}"></td>
    <td th:text="${anEmploy.email}"></td>
    <td>
    <a class="btn btn-info btn-sm" th:href="@{/employees/update(id=${anEmploy.employeeId})}" role="button">Update</a>
    <a class="btn btn-danger btn-sm" th:href="@{/employees/delete(id=${anEmploy.employeeId})}" role="button"
    onClick="if (!(confirm('Are you sure want to delete this employee?'))) return false">delete</a>
    </td>
  </tr>
  <tbody>
</table>
	</div>
	
</body>

</html>