<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">



<head th:replace="layouts :: header"></header>

<body>
<nav th:replace="layouts :: navbar"></nav>
	<div class="container">
	<br/>
	<a class="btn btn-primary" th:href="@{/projects/new}" role="button">Add new project</a>
	<h2> List of project</h2>
<table class="table table-borded table-striped">
<thead class="thead-dark"> 
  <tr>
    <th>Project name</th>
    <th>Description</th>
    <th>Stage</th>
  </tr>
 </thead>
 <tbody>
  <tr th:each="aproject: ${projectList}">
    <td th:text="${aproject.name}"></td>
    <td th:text="${aproject.description}"></td>
    <td th:text="${aproject.stage}"></td>
  </tr>
 </tbody>
</table>
	</div>
	
</body>

</html>